:root {
    --snow-white: #FFFAFA;
    --cornflower-blue: #8390FA;
    --light-cornflower-blue: #e6e8ff;
    --oxford-blue: #132059;
    --red-orange: #FF4C0C;
}
body {
    margin: 0;
    background-color: var(--snow-white);
    color: var(--oxford-blue);
}

.App {
  text-align: center;
}