:root {
    --snow-white: #ffffff;
    --cornflower-blue: #1681FB;
    --light-cornflower-blue: #bddafa;
    --oxford-blue: #063F7A;
    --primary-oxford-blue: #006DA8;
    --red-orange: #CC0000;
}
body {
    margin: 0;
    background-color: var(--snow-white);
    color: var(--oxford-blue);
}
.App {
  text-align: center;
}