@import url("../../App.css");

.dayComp{
    border-radius: 100%;
    background-color: var(--snow-white);
    margin: 5px;
    display: inline-flex;
    padding: .5em;
    font-weight: bold;
    border-width: 0px;
    border-color: var(--cornflower-blue);
    border-style: solid;
    transition: border-width 0.2s;
}

.dayComp:hover{
    border-width: 3.2px;
    transition: border-width 0.2s;
    color: var(--red-orange);
}


.DatePicker_container{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DatePicker_container div {
    cursor: pointer;
}

.breakLines{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.datetime-dates-list {
    flex-basis: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}
.month_Container{
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    padding: 0.4em;
    border-color: var(--cornflower-blue);
    background-color: var(--snow-white);
}