@import url("../../App.css");



.switch-comp {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.switch {
    width: 70px;
    height: 35px;
    background-color: var(--light-cornflower-blue);
    transition: background 0.1s linear;
    border: 3px solid var(--oxford-blue);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.switch-dot-container {
    width: 50%;
    height: 100%;
    margin-left: 0;
    transition: all .3s cubic-bezier(.27,0,.14,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch-dot {
    transition: background 0.1s linear;
    border-radius: 25px;
    box-sizing: border-box;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
.switch.off {

}
.switch.on {
    background-color: var(--red-orange);
}
.switch.off .switch-dot-container {
    margin-left: 0%;
}
.switch.on .switch-dot-container {
    margin-left: 50%;
}
.switch.off .switch-dot {
    background-color: var(--cornflower-blue);
}
.switch.on .switch-dot {
    background-color: rgb(255, 255, 255);
}