@import url("../../App.css");

.container{
    display: flex;
    flex-grow: initial;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.checkBoxButton{
    width: 5em;
    height: 5em;
    transform: rotate(45deg);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.boxClass{
    left: 37rem;
    top: 21.28em;
    position: absolute;
    display: flex;
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg);
    border-width: 5px;
    border-radius:15%;
    border-color: var(--cornflower-blue);
    border-style: solid;
}

.boxClass:hover{
    background-color: #ccc;
}

.container input:checked ~ .boxClass .boxClass:hover{
    background-color: var(--cornflower-blue);
}

.container input:checked ~ .boxClass{
    background-color: var(--cornflower-blue);
}

.boxClass:after{
    content: "";
    top: 0.1em;
    left: 0.2em;
    opacity: 0;
    border: 3px white;
    position: absolute;
    transform: rotate(45deg);
    height: 8px;
    width: 3.58px;
}

.container input:checked ~ .boxClass:after{
    opacity: 100;
}


.DescriptionText{
    margin-left: 2rem;
    left: 39rem;
    top: 9.948em;
    position: absolute;
    color: var(--oxford-blue);
}