@import url("../../App.css");

.header_A{
    background-color: var(--cornflower-blue);
    margin: 5rem;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkBoxButton{
    height: 3em;
    width: 3em;
    border-radius: 30%;
    border-color: var(--cornflower-blue);
    border-width: 5px;
    border-style: solid;
}

.checkBoxButton:hover{
    border-width: 3px;
    opacity: 0.8;
}