@import url("../../App.css");

.container{
    display: flex;
    flex-grow: initial;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.checkBoxButton{
    width: 5em;
    height: 5em;
    transform: rotate(45deg);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.boxClass{
    left: 37rem;
    top: 21.28em;
    position: absolute;
    display: flex;
    width: 2rem;
    height: 2rem;
    border-width: 5px;
    border-radius:15%;
    transform: rotate(45deg);
    border-color: var(--cornflower-blue);
    border-style: solid;
    transition: transform .2s ease-in-out;
}

.boxClass:hover{
    background-color: #ccc;
    transform: rotate(125deg);
}
.container input:checked ~ .boxClass .boxClass:hover{
    background-color: var(--cornflower-blue);
}

.container input:checked ~ .boxClass{
    background-color: var(--cornflower-blue);
}


.container input:checked ~ .boxClass:after{
    opacity: 100;
    border-left: 5px var(--snow-white) solid;
    border-right: 5px var(--snow-white) solid;
    outline: solid transparent 1px;
    height: 10px;
    width: 20px;
}

.boxClass:after{
    opacity: 0;
    top: 2.5px;
    left: 8px;
    position: absolute;
    content: "";
    height: 20px;
    width: 10px;
    border-bottom: 5px var(--snow-white) solid;
    border-right: 5px var(--snow-white) solid;
    outline: solid transparent 1px;
}


.DescriptionText{
    margin-left: 2rem;
    left: 39rem;
    top: 9.948em;
    position: absolute;
    color: var(--oxford-blue);
}