@import url("../../App.css");

.btn {
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 400;
    border-radius: 25rem;
    transition: all 0.4s ease;
}

.btn:not(.btn--primary--disabled):hover {
    transform: translateY(-2px);
    background-color: var(--light-cornflower-blue);
    color: var(--oxford-blue);
    transition: all .3s ease;
    cursor: pointer;
}


/* Button Colors and Styles*/
.btn--primary--solid {
    background-color: var(--oxford-blue);
    color: var(--snow-white);
    border: none;
}

.btn--primary--disabled {
    background-color: var(--light-cornflower-blue);
    color: var(--snow-white);
    border: none;
}