@import url("../../App.css");

.inputField{
    border: none;
    border: 3px var(--oxford-blue) solid;
    border-radius: 25px;
    color: var(--oxford-blue);
    padding: 0.5rem 1rem;
    transition: background 0.1s linear;
    background-color: var(--snow-white);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}
.inputField:hover{
    background-color: var(--light-cornflower-blue);
    transition: all .5s ease;
}

.inputField:focus{
    outline: none;
}


