@import url("../../App.css");

.inputField{
    border-radius: 5px;
    border-width: 1px;
    height: 30px;
    border-color: var(--oxford-blue);
    color: var(--oxford-blue);
    font-weight: bold;
}
.inputField:hover{
    background-color: var(--snow-white);
}


.txtInput_large {
    height: 30px;
    width: 100px;
}


